.Header{
  background-color: rgb(253, 245, 211);
  font-family:Trebuchet 
  padding;
}

.body {
  <style>
  background-image: url('img_girl.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
    font-family:Trebuchet 
    padding;
  }

